.searchLabel {
    display: block;
    font-size: 1.2em;
    margin-right: 24.5em;
}


.searchField {
    width: 30em;
    margin-left: 20em !important;
}

.searchBtn {
    display: block;
    width: 20em;
    margin-top: 3em;
    border-radius: 1em;
    margin: 1.5em auto;
}